/*fuentes*/

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');




body{
    background-image: url(/img/pattern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.cabecera{
  
    border-bottom: solid 5px crimson;
   width:100%;
    padding-bottom: 15px;
    
}
.profile{
    width:10%;
    height:100px;
    background-image:url(../img/profile.jpg);
    border:groove 7px crimson;
    border-radius: 20%;
    background-size: cover;
    display: inline-block;
}
.nombre{
      display: inline-block;
    width: 20%;
    font-family: Lobster;
    font-size: 35px;
    margin-top:0;

}
h1{
      display: inline-block;
     width: 65%;
  text-align: right;
    font-family: Abril fatface;

    font-size: 45px;
}


/*texto*/

.titulo{
    font-family:Abril Fatface,cursive; 
    font-size: 55px;
    text-align: center;
    
    
}



.container{
    margin: 50px;
    display:inline-flex;
    
    
}
.casa{
    background-image: url(/img/pagina-casa.jpg);
    width:250px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border:groove violet 7px;
    margin:20px;
    display:left;
   
}
.presentacion{
    background-image: url(/img/pagina-presentacion.jpg);
    width: 250px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border:groove violet 7px;
   margin:20px;
     display:left;
  
}
.curriculum{
      background-image: url(/img/pagina-curriculum.jpg);
    width: 250px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border:groove violet 7px;
   margin:20px;
    
}
.canal{
     background-image: url(/img/pagina-canal.jpg);
    width: 250px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border:groove violet 7px;
    margin:20px;
}