*{
    margin:0;
    padding:0;
    
}
body{
    background-image: url(img/pattern.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    
}
.container{
    width: 100%;
    height:20%;
}
img{
    width:20%;
    border:solid 2px red;
    border-radius:15px;
    
}